{
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "extends": ["prettier", "javascript-the-good-parts"],
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "__DEV__": true
  },
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "warn",
    "class-methods-use-this": "warn",
    "prefer-destructuring": "off",
    "lines-between-class-members": "off"
  }
}
